.cover {
    border-radius: 9px;
    border: 1px solid var(--border-color);
    background-color: var(--window-bg-color);
}

.playing {
    background-color: color-mix(in srgb, var(--accent-bg-color) 30%, transparent);
}

.foreground {
    color: var(--view-fg-color);
}

.artist-link {
    padding: 2px 4px;
}

.artist-link-common {
    font-weight: normal;
}

.colorized-main-window {
    
    /* Accent */
    --accent-color: oklab(from var(--accent-bg-color) var(--standalone-color-oklab));
    --scrollbar-outline-color: rgb(255 255 255 / 25%);
    
    /* The sidebar (in this case the queue) needs to be transparent, to let the background colors through*/
    --sidebar-bg-color: rgb(0 0 0 / 6%);
    --sidebar-backdrop-color: rgb(0 0 0 / 3%);
    --sidebar-shade-color: rgb(0 0 0 / 10%);
    --sidebar-border-color: rgb(0 0 0 / 10%);

    --secondary-sidebar-bg-color: rgb(0 0 0 / 6%);
    --secondary-sidebar-backdrop-color: rgb(0 0 0 / 3%);
    --secondary-sidebar-shade-color: rgb(0 0 0 / 10%);
    --secondary-sidebar-border-color: rgb(0 0 0 / 10%);    

    /* The usage of Accent colors need to be set to black/white instead of the default accent colors, to not conflict with the background*/
    --accent-bg-color: rgb(0 0 0 / 75%);
    --accent-fg-color: white;

    /* Set the background to the gradient*/
    background: linear-gradient(127deg, color-mix(in srgb, var(--background-color-0) 55%, transparent), color-mix(in srgb, var(--background-color-0) 0%, transparent) 70.71%),
    linear-gradient(217deg, color-mix(in srgb, var(--background-color-1) 55%, transparent), color-mix(in srgb, var(--background-color-1) 0%, transparent) 70.71%),
    linear-gradient(336deg, color-mix(in srgb, var(--background-color-2) 55%, transparent), color-mix(in srgb, var(--background-color-2) 0%, transparent) 70.71%);
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: ease;
}



@media (prefers-color-scheme: dark) {
    .colorized-main-window {
        --sidebar-bg-color: rgb(255 255 255 / 5.5%);
        --sidebar-backdrop-color: rgb(255 255 255 / 2.75%);
        --sidebar-shade-color: rgb(0 0 0 / 20%);
        --sidebar-border-color: rgb(0 0 0 / 28%);

        --secondary-sidebar-bg-color: rgb(255 255 255 / 5.5%);
        --secondary-sidebar-backdrop-color: rgb(255 255 255 / 2.75%);
        --secondary-sidebar-shade-color: rgb(0 0 0 / 20%);
        --secondary-sidebar-border-color: rgb(0 0 0 / 28%);
        
        --accent-bg-color: rgb(255 255 255 / 75%);
        --accent-fg-color: rgb(0 0 0 / 75%);
        --scrollbar-outline-color: rgb(0 0 0 / 25%);
    }
}
